*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    --dark-color: rgb(20, 20, 52);
    --light-dark-color: rgb(104, 104, 158);
    --accent-color: rgb(236, 103, 58);
    --light-color: rgb(231, 231, 253);

    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)*.85);
}

body {
    margin: 0;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background: var(--dark-color); 
    border: 1px solid var(--light-color);   
}