*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    --dark-color: rgb(20, 20, 52);
    --light-dark-color: rgb(104, 104, 158);
    --accent-color: rgb(236, 103, 58);
    --light-color: rgb(231, 231, 253);

    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)*.85);
}

body {
    margin: 0;
    background: rgb(226,245,243);
    background: radial-gradient(circle, rgba(226,245,243,1) 0%, rgba(226,236,247,1) 100%);
}

.board {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-board {
    background: var(--light-color);
    width: calc(var(--cell-size)*3);
    height: calc(var(--cell-size)*3);
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    -webkit-box-shadow: 8px 8px 24px 0px rgba(23, 29, 66, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(23, 29, 66, 1);
    box-shadow: 8px 8px 24px 0px rgba(23, 29, 66, 1);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid var(--dark-color); 
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    cursor: pointer;
}

.cell.x,
.cell.o {
    cursor: not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1){
    border-left: none;
}

.cell:nth-child(3n + 3){
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
    border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
    background: var(--dark-color);
}

.game-board.x .cell:not(.x):not(.o):hover::before, 
.game-board.x .cell:not(.x):not(.o):hover::after, 
.game-board.o .cell:not(.x):not(.o):hover::before {
    background: var(--light-dark-color);
    opacity: .7;
}

.cell.x::before,
.cell.x::after,
.game-board.x .cell:not(.x):not(.o):hover::before,
.game-board.x .cell:not(.x):not(.o):hover::after   {
    content: '';
    position: absolute;
    width: calc(var(--mark-size)*.15);
    height: var(--mark-size);
}

.cell.x::before,
.game-board.x .cell:not(.x):not(.o):hover::before{
    transform: rotate(45deg);
}

.cell.x::after,
.game-board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.game-board.o .cell:not(.x):not(.o):hover::before,
.game-board.o .cell:not(.x):not(.o):hover::after { 
    content: '';
    position: absolute;
    border-radius: 50%; 
}

.cell.o::before,
.game-board.o .cell:not(.x):not(.o):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.o::after,
.game-board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size)*.75);
    height: calc(var(--mark-size)*.75);  
    background: var(--light-color);
}

.wining-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--dark-color);
    opacity: .9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color: var(--light-color);
    font-size: 5rem;
}

.wining-message button {
    font-size: 3rem;
    background: var(--light-color);
    border: 1px solid var(--dark-color);
    border-radius: .2em;
    padding: .25em .5em;
    cursor: pointer;
    opacity: 1;
}

.wining-message button:hover {
    color: var(--light-color);
    background: var(--accent-color);
    border: 1px solid var(--light-color);
}

.wining-message.show {
    display: flex;
}